*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100vh;
    font-size: 14px;
    font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

.custom-btn {
    background-color: #213770;
    color: #fff;
    border: none;
    outline: none;
}
.custom-btn:hover {
    background-color: #213770;
    color: #fff;
}
.btn-rtb {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-ltb {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-b0 {
    border-radius: 0;
}
.text-hover {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.text-hover:hover {
    color: #ff5353 !important;
}
.w-60 {
    width: 60px;
}
.border-0 {
    border-radius: 0;
}
.nav .nav-link.active {
    color: #ff5353 !important;
}
.section-padding {
    padding: 30px 0;
}
.center {
    display: table !important;
    margin: auto;
}

/* ============================ */
/* Top Navbar Css */
.top-navbar {
    height: 62px;
    background-color: #213770;
}

/* Header */
header .logo-bar {
    height: 144px;
    background-color: #f7f5fb;
}
header .navigation {
    height: 70px;
}
header .navigation nav .navbar-nav {
    font-size: 15px !important;
    font-weight: 600;
}
.search-input {
    font-size: 15px;
}
.search-input:focus,
.search-input:focus-within,
.search-input:focus-visible,
.search-input:target {
    box-shadow: none;
    border: 1px solid #213770;
}
.search-input::placeholder {
    color: #777;
    font-size: 15px;
}
/* Cart Product Item */
header .cart .dropdown-menu .content img {
    width: 50px;
    height: 45px;
}
header .cart .dropdown-menu .content .text .title {
    font-size: 14px !important;
    font-weight: 600;
    max-width: 180px;
    width: 100%;
    text-wrap: wrap;
    text-align: left !important;
}
header .cart .dropdown-menu .content .remove {
    color: #ff5353;
    cursor: pointer;
}




/* Footert */
footer {
    background-color: #f7f5fb;
}
footer .widgets {
    display: grid;
    grid-template-columns: repeat(5, minmax(120px, 1fr));
    column-gap: 12px;
}
footer .widgets .widget .title {
    font-size: 20px;
    font-weight: 600;
    color: #444;
    margin-bottom: 16px;
}
footer .widgets .widget > p {
    color: #555555;
}
footer .widgets .widget ._title {
    font-size: 16px;
    font-weight: 600;
    color: #444;
    margin-bottom: 6px;
    margin-top: 8px;
}
footer .widgets .widget .lists .list {
    line-height: 28px;
}
footer .widgets .widget .lists .list .link {
    color: #777;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
footer .widgets .widget .lists .list .link:hover {
    color: #213770;
}
footer .widgets .widget .apps-download ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 1fr));
    column-gap: 12px;
}
footer .widgets .widget .apps-download ul li a {
    background-color: #fff;
    display: flex;
    column-gap: 6px;
    padding: 8px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
footer .widgets .widget .apps-download ul li a:hover,
footer .widgets .widget .apps-download ul li a.active {
    background-color: #ff5353;
}
footer .widgets .widget .apps-download ul li a .content {
    color: #777;
}
footer .widgets .widget .apps-download ul li a .content p {
    margin-bottom: 0;
}
footer .widgets .widget .apps-download ul li a .content h5 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}
footer .widgets .widget .apps-download ul li a i {
    font-size: 24px;
    color: #ff5353;
}
footer .widgets .widget .apps-download ul li a:hover i,
footer .widgets .widget .apps-download ul li a.active i,
footer .widgets .widget .apps-download ul li a:hover .content p,
footer .widgets .widget .apps-download ul li a.active .content p,
footer .widgets .widget .apps-download ul li a:hover .content h5,
footer .widgets .widget .apps-download ul li a.active .content h5 {
    color: #ffffff;
}
footer .widgets .widget .apps-download ul li a.active:hover {
    background-color: #ffffff;
}
footer .widgets .widget .apps-download ul li a.active:hover i {
    color: #ff5353;
}
footer .widgets .widget .apps-download ul li a.active:hover .content p,
footer .widgets .widget .apps-download ul li a.active:hover .content h5 {
    color: #777;
}
footer .widgets .widget .social ul {
    display: flex;
    column-gap: 6px;
}
footer .widgets .widget .social ul li a {
    color: #fff;
    width: 32px;
    height: 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .widgets .widget .social ul li a.facebook {
    background-color: #1877f2;
}
footer .widgets .widget .social ul li a.twitter {
    background-color: #1DA1F2;
}
footer .widgets .widget .social ul li a.instagram {
    background-color: #EE3567;
}
footer .widgets .widget .social ul li a.linkedin {
    background-color: #0077B5;
}
footer .widgets .widget .social ul li a.youtube {
    background-color: #fE4444;
}




/* 
class-name::before {
    font-family: "Font Awesome 6 Free";
    display: inline-block;
    content: "\f005";
}
*/