
/* Slide */
.page-wrapper .slider .content h2 {
    font-size: 50px !important;
}

/* Categories / Services */
.page-wrapper .cat-service .items.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
} 
.page-wrapper .cat-service .items .item {
    padding: 40px 20px;
}
.page-wrapper .cat-service .items .item:nth-child(1),
.page-wrapper .cat-service .items .item:nth-child(3) {
    background-color: #f6f3fc;
}
.page-wrapper .cat-service .items .item:nth-child(2) {
    background-color: #fcfaff;
}
.page-wrapper .cat-service .items .item h4 {
    font-size: 18px;
    font-weight: 600;
}
.page-wrapper .cat-service .items .item .icon i {
    color: #ff5353;
    font-size: 30px;
}

/* New Arrivals */
.page-wrapper .products .tab-items .item > a > img {
    height: 280px;
    line-height: 280px;
    max-width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    margin: auto;
}
.page-wrapper .products .tab-items .item .content {
    padding: 20px 20px;
}
.page-wrapper .products .tab-items .item .content .actions .action {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.page-wrapper .products .tab-items .item .content .actions .action:hover {
    background-color: #213770 !important;
    color: #fff;
}
.page-wrapper .products .tab-items .item .content .colors {
    display: flex;
    justify-content: end;
    column-gap: 4px;
    row-gap: 8px;
    width: 60%;
}
.page-wrapper .products .tab-items .item .content .colors .color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
}

/* Rating */
.rating .star {
    background-size: contain;
    background-repeat: repeat-x;
    height: 20px;
}
.rating .star.down {
    background-image: url('../images/rating/star-normal.png');
    width: 100px;
}
.rating .star.up {
    background-image: url('../images/rating/star.png');
}


/* Trending Categories */
.page-wrapper .trending-categories .items .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.page-wrapper .trending-categories .items .item::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
}

.page-wrapper .banner-section .item img {
    max-width: 100%;
}






/* ====================================== */
/* Responsive */
@media only screen and (max-width: 991px) {
    header .navigation {
        display: none;
    }
    header .mobile-navigation {
        display: block !important;
    }
    header .logo-bar {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    /* Categories / Service */
    .page-wrapper .cat-service .items.grid {
        grid-template-columns: 1fr !important;
    }

    /* Footer */
    footer .widgets {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        row-gap: 24px;
    }
}

@media only screen and (max-width: 575px) {
    /* Top Navbar */
    .top-navbar ul {
        justify-content: center !important;
    }

    /* Slider */
    .page-wrapper .slider .content h2 {
        font-size: 30px !important;
        text-align: center;
    }

    /* Products */
    .page-wrapper .products .heading > ul {
        font-size: 14px !important;
    }
    .page-wrapper .products .tab-items .item > a > img {
        height: 175px !important;
    }
    .page-wrapper .products .heading {
        display: block !important;
        text-align: center;
    }
    .page-wrapper .products .heading > ul {
        justify-content: center;
    }
    .page-wrapper .products .tab-items .item .content {
        padding: 12px 8px;
    }
    .page-wrapper .products .tab-items .item .content .price-rating {
        flex-direction: column;
        align-items: center;
    }
    .page-wrapper .products .tab-items .item .content .price-rating .price .new {
        font-size: 17px !important;
    }
    .page-wrapper .products .tab-items .item .content .price-rating .price .old {
        font-size: 14px !important;
    }
    .rating .star {
        height: 16px;
    }
    .rating .star.down {
        width: 80px;
    }
    .page-wrapper .products .tab-items .item .content .title {
        font-size: 16px !important;
        margin: 8px 0 12px 0 !important;
    }
    .page-wrapper .products .tab-items .item .content .actions {
        column-gap: 8px !important;
    }
    .page-wrapper .products .tab-items .item .content .actions .action {
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
    }
    .page-wrapper .products .tab-items .item .content .stock-color {
        margin-top: 8px !important;
    }
    .page-wrapper .products .tab-items .item .content .stock-color .stock {
        font-size: 12px !important;
    }
    .page-wrapper .products .tab-items .item .content .stock-color .colors {
        column-gap: 2px;
    }
    .page-wrapper .products .tab-items .item .content .stock-color .colors .color {
        width: 12px;
        height: 12px;
    }

    /* Trending Categories */
    .page-wrapper .trending-categories .heading {
        margin-bottom: 8px;
    }
    .page-wrapper .trending-categories .items .item {
        padding: 20px 12px !important;
    }
    .page-wrapper .trending-categories .items .row > .py-3 {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }

    /* Categories / Service */
    .page-wrapper .cat-service .items.grid {
        grid-template-columns: 1fr !important;
    }
    .page-wrapper .cat-service .items .item {
        padding: 12px 20px !important;
    }
    .page-wrapper .cat-service .items .col-lg-4:nth-child(1) .item,
    .page-wrapper .cat-service .items .col-lg-4:nth-child(2) .item {
        border-bottom: 1px solid #ddd;
    }
}

@media only screen and (max-width: 375px) {
    
}